@model Device

<div class="container my-4 text-center rounded-4 px-4 py-3 bg-body-secondary border">

    <h2>Edit Device</h2>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="EditDevice" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="Enter a name">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Description" class="form-control" placeholder="Enter a description">
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="StatusId" class="form-control" />
            <label asp-for="StatusId">Status:</label>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>

        <hr />

        <div class="d-flex mb-3 gap-2">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-action="DeviceList" class="btn btn-danger">Cancel</a>
        </div>

    </form>

</div>